.metadata/
.recommenders/
.sonarlint/
.idea/
.vscode/
.gradle/

target/
!sample-bots/dotnet/Target
build/
gradle/wrapper/
out/
bin/
obj/

*.iml
/games.properties
/misc.properties
/server.properties
