.metadata/
.recommenders/
.sonarlint/
.idea/
.vscode/
.gradle/

target/
!sample-bots/java/Target
!sample-bots/csharp/Target
build/
gradle/
out/
bin/
obj/

*.iml
/games.properties
/misc.properties
/server.properties
