/sounds

.metadata/
.recommenders/
.sonarlint/
.idea/
.vscode/
.gradle/
.vs/
Folder.DotSettings.user

target/
!sample-bots/java/Target/
!sample-bots/csharp/Target/
build/
!buildSrc/src/main/kotlin/build
out/
bin/
obj/
generated/

/bot-api/dotnet/docs/ReadMe.md
/bot-api/dotnet/docs/Release-notes.txt

*.iml

/games.properties
/server.properties
/config.properties

/.codiumai/
