@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html.dark {
  --c-brand: #377B37;
  --c-brand-light: #6EF76E;

  --c-bg: #111117;
  --c-text: #CCC;
  --c-link: #6AF;

  --c-border: var(--c-text);

  --font-family: 'Fira Sans';
  --font-size: 14px;
}

::-webkit-scrollbar {
  background: hsl(240, 15%, 8%);
  border-inline: solid var(--c-border) 1px;
}

::-webkit-scrollbar-thumb {
  background: var(--c-border);
  border: 5px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}

.navbar .site-name {
  color: var(--c-brand-light);
}

p, li, .sidebar-item.sidebar-heading {
  font-size: var(--font-size);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--c-brand-light);
}

a {
  color: var(--c-link);
}

.sidebar-item.sidebar-heading {
  color: var(--c-brand);
}

.sidebar-sub-headers {
  border-left-color: var(--c-brand-light);
}

a.router-link-active.sidebar-item.sidebar-heading.active.sidebar-item {
  border-left-color: var(--c-brand-light);
}

.sidebar-item {
  color: var(--c-brand);
}

.sidebar-item.active:not(p.sidebar-heading)  {
  color: var(--c-brand-light);
}

tr {
  background-color: #081008;
}

tr:nth-child(2n) {
  background-color: #0C180C;
}

th {
  background-color: #183018;
}