p
  font-size: 14px

html, body, .sidebar, .navbar, .links, .search-box
  color: #DDD
  background-color: #222 !important

.navbar .site-name
  color: #6F6 !important

h1
  color: #A6F

h2
  color: #6F6

h3, h4, h5, h6
  color: #FA6

a
  color: #66F

.search-box input
  background-color: #444 !important

.search-box input:focus
  border-color: #6F6 !important

a.sidebar-link
  color: #FA6 !important
  font-size: 14px !important

a.sidebar-link:active
  color: #6F6 !important

.language-text
  background-color: #333 !important
